h1{
    text-align: center;
    font-size: 75px;
    color: black;
    font-family: 'Berkshire Swash', cursive;
    margin: 10px;
    position: absolute;
    top: 0%;
    right:25%;
}
p{

    font-size: 35px;
    font-family: 'Dancing Script', cursive;
    color: black;
    position: absolute;
    top: 0%;
    left: 80%;
}
.pro{
    background-color: transparent;
}
ul{
    font-size: 30px;
    font-family: 'Niconne', cursive;
}
h3{
    font-size: 30px;
    font-family: 'Berkshire Swash', cursive;
}
body{
    background-color: gray;
}
