h1{
    text-align: center;
    font-size: 70px;
    color: black;
    font-family: 'Berkshire Swash', cursive;
}
p{
    text-align: center;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
}
.pro{
    background-color: rgb(151, 151, 151);
}
ul{
    font-size: 25px;
    font-family: 'Niconne', cursive;
}
h3{
    font-size: 25px;
    font-family: 'Berkshire Swash', cursive;
}
body{
    background-color: gray;
}
