/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body{
    /* background-color: grey; */
    background-size: cover;
    background-image: url(https://lh3.googleusercontent.com/-uL7TA36oD3Q/VdnQ7J9UzRI/AAAAAAAABak/XMg4clNyXiA/s512-Ic42/William%252520Shakespeare%252520quotes%252520images%252520pics%252520best%252520famous%252520%252520%25252812%252529.jpg);
}
#gone{
    position: absolute;
    top: 53%;
    left: 80%;
}
#fire{
    position: absolute;
    bottom:0%;
    left: 80%;
    transform: translate(-0%,96%)
}
