<link href="https://fonts.googleapis.com/css?family=Fondamento&display=swap" rel="stylesheet">
<img  id="cold" src="./assets/images/shakespear3.jpg" alt="shakespear quote" width="250px" height="300px">
<div class="container-fluid">
        <h2 class="text-center">Dear scribe write forth whats in your heart..</h2>
        <hr>
        <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
            <div class="form-group">
      
                <label for="name">Thy name....</label>
                <input type="text"  style="color: black; font-family: 'Fondamento', cursive; font-size: 20px;" required class="form-control" id="name" [(ngModel)]="newQuote.name" name="name">
                
                {{newQuote.name}}
            </div>
            <div class="form-group">
      
                <label for="description">Thy words....</label>
                <textarea class="form-control"  style="color: black; font-family: 'Fondamento', cursive; font-size: 20px;" id="description" rows="4" required  [(ngModel)]="newQuote.description" name="description"></textarea>
                {{newQuote.description}}
            </div>
        
                    
            <div class="form-group">
                <label for="complete">Day they masterpiece was born...</label><br>
                <input type='date' id="release" required>
      
            </div>
            <button type="submit" class="btn btn-outline-secondary">Add one</button>
        </form>
      </div><br><br>
